In [2]:
import numpy as np
import scipy as sp
import matplotlib as plt
import seaborn as sns
import pandas as pd

In [4]:
full_data = pd.read_csv('aita_clean.csv')

In [5]:
full_data.head()

,id,timestamp,title,body,edited,verdict,score,num_comments,is_asshole
0,arfcfl,1550365421,AITA - Getting Hugged At The Bar,\n\nThis all happened less than an hour ago.\...,False,not the asshole,3,14,0
1,cg8mxn,1563769917,AITA if i don't want to pay my friend 5 dollar...,"So, my friend bought herself, our other friend...",False,asshole,11,42,1
2,bajsje,1554663842,AITA For going to 'expensive' restaurants in s...,It's in Seattle if that matters. It seems peop...,1554686830.0,asshole,657,397,1
3,cq6voc,1565771883,"AITA for wanting ""free gas"", due to an attenda...",I was with my dad and driving the family car w...,1565773989.0,not the asshole,49,40,0
4,bz4m2k,1560207411,AITA I asked my dad to replace the fuel that h...,Am I the asshole for asking my dad to replace ...,False,not the asshole,4,10,0

In [7]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
id              10000 non-null object
timestamp       10000 non-null int64
title           10000 non-null object
body            9993 non-null object
edited          10000 non-null object
verdict         10000 non-null object
score           10000 non-null int64
num_comments    10000 non-null int64
is_asshole      10000 non-null int64
dtypes: int64(4), object(5)
memory usage: 703.2+ KB

In [10]:
empty_body = full_data[full_data['body'].isnull()]

In [11]:
empty_body

,id,timestamp,title,body,edited,verdict,score,num_comments,is_asshole
525,8m1373,1527248555,"AITA? Whenever I get into a religious debate, ...",NaN,False,asshole,6,24,1
3205,8bdpc6,1523413473,AITA for how I parked?,NaN,False,asshole,357,268,1
5334,93dym6,1533039397,AITA if i laugh when babies fall down and cry?...,NaN,False,not the asshole,12,29,0
5465,5lgkak,1483297705,AITA for thinking it's better to give money to...,NaN,False,not the asshole,20,5,0
7488,5hqo5f,1481471842,AITA for taking this picture and posting it to...,NaN,False,asshole,81,86,1
8012,azlo3l,1552258622,AITA after being offered a cigarette from a cl...,NaN,False,asshole,5,47,1
8451,3d6n5l,1436828279,AITA for being a dick to Amazon customer servi...,NaN,False,asshole,8,26,1

In [12]:
full_data['verdict'].value_counts()

not the asshole     6119
asshole             1988
no assholes here    1288
everyone sucks       605
Name: verdict, dtype: int64

In [19]:
full_data = full_data.dropna()

In [20]:
nta = full_data[full_data['verdict'] == 'not the asshole']
ah = full_data[full_data['verdict'] == 'asshole']

In [22]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9993 entries, 0 to 9999
Data columns (total 9 columns):
id              9993 non-null object
timestamp       9993 non-null int64
title           9993 non-null object
body            9993 non-null object
edited          9993 non-null object
verdict         9993 non-null object
score           9993 non-null int64
num_comments    9993 non-null int64
is_asshole      9993 non-null int64
dtypes: int64(4), object(5)
memory usage: 780.7+ KB

In [23]:
nta_ds = nta.sample(len(ah)) #downsample to match ah

In [24]:
nta_ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1983 entries, 8874 to 2345
Data columns (total 9 columns):
id              1983 non-null object
timestamp       1983 non-null int64
title           1983 non-null object
body            1983 non-null object
edited          1983 non-null object
verdict         1983 non-null object
score           1983 non-null int64
num_comments    1983 non-null int64
is_asshole      1983 non-null int64
dtypes: int64(4), object(5)
memory usage: 154.9+ KB

In [25]:
ah.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1983 entries, 1 to 9989
Data columns (total 9 columns):
id              1983 non-null object
timestamp       1983 non-null int64
title           1983 non-null object
body            1983 non-null object
edited          1983 non-null object
verdict         1983 non-null object
score           1983 non-null int64
num_comments    1983 non-null int64
is_asshole      1983 non-null int64
dtypes: int64(4), object(5)
memory usage: 154.9+ KB